force-app/main/default/flows/Auto_Populate_Case_Fields_from_Selected_Product_Initial_Tier_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Product_Found</name>
        <label>Product Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Product_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Portfolio_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_case_with_product_details</targetReference>
            </connector>
            <label>Yes, Product Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Wdsupporttier</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_Product_Portfolio_Details.WD_Default_Support_Tier_Level__c}, &apos;Tier 1 (GCC Only)&apos;),&apos;GCC (General Customer Care)&apos;,&apos;GTAC (Global Technical Assistance)&apos;)</expression>
    </formulas>
    <interviewLabel>Auto-Populate Case Fields from Selected Product &amp; Initial Tier Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto-Populate Case Fields from Selected Product &amp; Initial Tier Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieves the full record details for the WD Product Portfolio item selected on the Case.</description>
        <name>Get_Product_Portfolio_Details</name>
        <label>Get Product Portfolio Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WD_Specific_Product__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WD_Product_Portfolio__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_case_with_product_details</name>
        <label>update case with product details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>WD_Initial_Support_Tier__c</field>
            <value>
                <elementReference>Wdsupporttier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WD_Product_Line__c</field>
            <value>
                <elementReference>Get_Product_Portfolio_Details.WD_Product_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WD_Specific_Product_SKU__c</field>
            <value>
                <elementReference>Get_Product_Portfolio_Details.WD_Product_SKU__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Portfolio_Details</targetReference>
        </connector>
        <filterFormula>AND(OR(
    ISNEW(),
    ISCHANGED({!$Record.WD_Specific_Product__c})
),
NOT(ISBLANK({!$Record.WD_Specific_Product__c})))</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
