force-app/main/default/flows/Case_Specialized_GTAC_Routing_Task_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>assign_new_owner_to_case_record</name>
        <label>assign new owner to case record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queue_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_queue_developer_name</name>
        <label>Assign queue developer name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>queuedevelopername</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WD_GTAC_Aero_Navigation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queue_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_queue_developer_name_0</name>
        <label>Assign queue developer name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>queuedevelopername</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WD_GTAC_BuildingTech_Smart_HVAC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queue_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_queue_developer_name_0_0</name>
        <label>Assign queue developer name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>queuedevelopername</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WD_GTAC_SPS_Warehouse_Automation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queue_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Specialized_GTAC_Route</name>
        <label>Determine Specialized GTAC Route</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Route_to_Aero_Navigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WD_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aerospace</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_queue_developer_name</targetReference>
            </connector>
            <label>Route to Aero Navigation</label>
        </rules>
        <rules>
            <name>Route_to_Building_Tech</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WD_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Building Technologies</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_queue_developer_name_0</targetReference>
            </connector>
            <label>Route to Building Tech</label>
        </rules>
        <rules>
            <name>Route_to_sps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WD_Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Safety &amp; Productivity Solutions (SPS)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_queue_developer_name_0_0</targetReference>
            </connector>
            <label>Route to sps</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case: Specialized GTAC Routing &amp; Task Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Specialized GTAC Routing &amp; Task Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_task</name>
        <label>Create new task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Perform initial diagnostic steps for Aerospace Navigation issue as per SOP. Product: {!$Record.WD_Selected_Product_Name__c}. Component: {!$Record.WD_Reported_Component__c}.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Initial Diagnostics for Aero Nav Case: {!$Record.CaseNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Queue_records</name>
        <label>Queue records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_new_owner_to_case_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queuedevelopername</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_case</name>
        <label>update case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Specialized_GTAC_Route</targetReference>
        </connector>
        <filterFormula>AND(
    ISPICKVAL({!$Record.WD_Initial_Support_Tier__c}, &quot;GTAC (Global Technical Assistance)&quot;),
    OR(
        ISNEW(),
        ISCHANGED({!$Record.WD_Specific_Product__c}), 
        ISCHANGED({!$Record.WD_Reported_Component__c}),
        ISCHANGED({!$Record.OwnerId}) /* Run if owner changes, maybe it just got assigned to a general GTAC queue */
    )
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_filter_for_aerospace</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>queuedevelopername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
