force-app/main/default/flows/Scheduled_Weekly_Stale_Case_Review_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Stale_Cases_Found</name>
        <label>Stale Cases Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Stale_Cases_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stale_Open_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Stale_Cases</targetReference>
            </connector>
            <label>Yes, Stale Cases Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_StaleCaseTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Stale Case Review: &quot; &amp; {!Loop_Through_Stale_Cases.CaseNumber} &amp; &quot; - &quot; &amp; LEFT({!Loop_Through_Stale_Cases.Subject}, 80)</expression>
    </formulas>
    <formulas>
        <name>formula_TaskDueDateTwoDays</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 2</expression>
    </formulas>
    <formulas>
        <name>staledate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDateTime} - 14</expression>
    </formulas>
    <interviewLabel>Scheduled: Weekly Stale Case Review &amp; Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled: Weekly Stale Case Review &amp; Reminder</label>
    <loops>
        <name>Loop_Through_Stale_Cases</name>
        <label>Loop Through Stale Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Stale_Open_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Stale_Case_Reminder_Task</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a follow-up task for the owner of the stale case.</description>
        <name>Create_Stale_Case_Reminder_Task</name>
        <label>Create Stale Case Reminder Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_Stale_Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_TaskDueDateTwoDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>tt_StaleCaseTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Loop_Through_Stale_Cases.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formula_StaleCaseTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Loop_Through_Stale_Cases.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Retrieves open Case records that have not been modified in the last 14 days</description>
        <name>Get_Stale_Open_Cases</name>
        <label>Get Stale Open Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stale_Cases_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>staledate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Priority</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Critical</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Stale_Open_Cases</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2025-06-09</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_StaleCaseTaskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This case, {!Loop_Through_Stale_Cases.CaseNumber}, has not been modified in over 14 days. Please review, provide an update, or follow up with the customer. Case Subject: {!Loop_Through_Stale_Cases.Subject} Current Status: {!Loop_Through_Stale_Cases.Status} Product Line: {!Loop_Through_Stale_Cases.WD_Product_Line__c}</text>
    </textTemplates>
</Flow>
