force-app/main/default/flows/ScreenFlow_Escalate_Product_Defect_to_Engineering.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <choices>
        <name>choice_Repro_Always</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(30, 30, 30); font-size: 14px; font-family: &amp;quot;Google Sans Text&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(226, 226, 229);&quot;&gt;Always&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Always</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Repro_Rarely</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(30, 30, 30); font-size: 14px; font-family: &amp;quot;Google Sans Text&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(226, 226, 229);&quot;&gt;Rarely&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rarely</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Repro_Sometimes</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(30, 30, 30); font-size: 14px; font-family: &amp;quot;Google Sans Text&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(226, 226, 229);&quot;&gt;Sometimes&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sometimes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Repro_Unable</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(30, 30, 30); font-size: 14px; font-family: &amp;quot;Google Sans Text&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(226, 226, 229);&quot;&gt;Unable to Reproduce by Support&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unable to Reproduce by Support</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Engineering_Queue_Found</name>
        <label>Engineering Queue Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Queue_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Engineering_Defect_Review_Queue_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_with_Escalation_Details</targetReference>
            </connector>
            <label>Yes, Queue Found</label>
        </rules>
    </decisions>
    <description>Guides GTAC agents through collecting detailed information for escalating a suspected product defect to the Winchester Dynamics Engineering team</description>
    <dynamicChoiceSets>
        <name>pcs_SeverityLevels</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>duedatefortask</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+3</expression>
    </formulas>
    <formulas>
        <name>formula_EngineeringTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Product Defect Escalation: Case &quot; &amp; {!Get_Current_Case_Details.CaseNumber} &amp; &quot; - &quot; &amp; {!Defect_Summary}</expression>
    </formulas>
    <formulas>
        <name>formula_TaskPriorityFromSeverity</name>
        <dataType>String</dataType>
        <expression>CASE({!Apparent_Severity_to_Customer},
&quot;Critical&quot;, &quot;High&quot;,
&quot;High&quot;, &quot;High&quot;,
&quot;Medium&quot;, &quot;Normal&quot;,
&quot;Low&quot;, &quot;Low&quot;,
&quot;Normal&quot;) /* Default */</expression>
    </formulas>
    <interviewLabel>ScreenFlow: Escalate Product Defect to Engineering {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow: Escalate Product Defect to Engineering</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task_for_Engineering_Review</name>
        <label>Create Task for Engineering Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Escalation_Submitted</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>duedatefortask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Engineering_Defect_Review_Queue_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>formula_TaskPriorityFromSeverity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formula_EngineeringTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Retrieves details from the Case record that launched this flow</description>
        <name>Get_Current_Case_Details</name>
        <label>Get Current Case Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Defect_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the ID of the WD Engineering Defect Review queue.</description>
        <name>Get_Engineering_Defect_Review_Queue_ID</name>
        <label>Get Engineering Defect Review Queue ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Engineering_Queue_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WD_Engineering_Defect_Review</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_with_Escalation_Details</name>
        <label>Update Case with Escalation Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Task_for_Engineering_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Escalated to Engineering</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Behavior_Details</name>
        <label>Behavior Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Engineering_Defect_Review_Queue_ID</targetReference>
        </connector>
        <fields>
            <name>Observed_Behavior</name>
            <fieldText>Observed Behavior</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expected_Behavior</name>
            <fieldText>Expected Behavior</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Workaround_Provided_to_Customer_if_any</name>
            <fieldText>Workaround Provided to Customer (if any)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit Escalation</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Defect_Confirmation</name>
        <label>Defect Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reproduction_Environment</targetReference>
        </connector>
        <fields>
            <name>displayText_CaseHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(26, 28, 30); font-family: &amp;quot;DM Mono&amp;quot;, monospace; color: rgb(226, 226, 229);&quot;&gt;Escalate Product Defect for Case:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(26, 28, 30); font-family: &amp;quot;DM Mono&amp;quot;, monospace; color: rgb(226, 226, 229);&quot;&gt;{!Get_Current_Case_Details.CaseNumber}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(26, 28, 30); font-family: &amp;quot;DM Mono&amp;quot;, monospace; color: rgb(226, 226, 229);&quot;&gt;{!Get_Current_Case_Details.Subject}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayText_ProductInfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(36, 38, 41); font-family: monospace; color: rgb(226, 226, 229);&quot;&gt;Product Name: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(36, 38, 41); font-family: monospace; color: rgb(226, 226, 229);&quot;&gt;{!Get_Current_Case_Details.WD_Selected_Product_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(36, 38, 41); font-family: monospace; color: rgb(226, 226, 229);&quot;&gt;Product Version:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(36, 38, 41); font-family: monospace; color: rgb(226, 226, 229);&quot;&gt;{!Get_Current_Case_Details.WD_Specific_Product_SKU__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Defect_Summary</name>
            <dataType>String</dataType>
            <fieldText>Defect Summary</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Apparent_Severity_to_Customer</name>
            <choiceReferences>pcs_SeverityLevels</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Apparent Severity to Customer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reproducibility</name>
            <choiceReferences>choice_Repro_Always</choiceReferences>
            <choiceReferences>choice_Repro_Rarely</choiceReferences>
            <choiceReferences>choice_Repro_Sometimes</choiceReferences>
            <choiceReferences>choice_Repro_Unable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reproducibility</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Escalation_Submitted</name>
        <label>Escalation Submitted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayText_ConfirmationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(26, 28, 30); font-family: &amp;quot;DM Mono&amp;quot;, monospace; color: rgb(226, 226, 229);&quot;&gt;Product Defect Escalation for Case{!Get_Current_Case_Details.CaseNumber}has been successfully submitted to the Engineering Defect Review queue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reproduction_Environment</name>
        <label>Reproduction &amp; Environment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Behavior_Details</targetReference>
        </connector>
        <fields>
            <name>displayText_StepsHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(26, 28, 30); font-family: &amp;quot;DM Mono&amp;quot;, monospace; color: rgb(226, 226, 229);&quot;&gt;Provide detailed steps and environment information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Steps_to_Reproduce_Defect</name>
            <fieldText>Steps to Reproduce Defect</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayText_CustomerEnvironmentHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(26, 28, 30); font-family: &amp;quot;DM Mono&amp;quot;, monospace; color: rgb(226, 226, 229);&quot;&gt;Customer Environment (from Case)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayText_CustomerEnvironmentDetails</name>
            <fieldText>&lt;p&gt;{!Get_Current_Case_Details.WD_Customer_Environment_Details__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Additional_Relevant_Environment_Info_if_any</name>
            <fieldText>Additional Relevant Environment Info (if any)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Case_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
